extends layout

block content
  .container
    .row
      .col
        .jumbotron.bg-dark.text-white
          h1.display-4 Welcome!
          p.lead This is our practice website for pug and server!
          hr.my-4
          p Click on the button for further informations!
          p.lead
            a.btn.btn-primary.btn-lg(href='/products' role='button') Our products

