extends layout

block content
  .container
    .row
      each val in products
        .col-4
          .card.bg-dark.text-white
            .card-body
              h5.card-title #{val.name}
              h6.card-subtitle.mb-2.text-muted Price: #{val.price}$
              p.card-text Manufacturer: #{val.manufacturer}
              a#showLink.card-link(href=`/products/${val.id}`) Show details
